.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;

    background-color: rgb(46, 46, 94);
    color: #fff;
    border: 2px solid #000;
}

.cell input {
    width: 100%;
    font-size: 0.9rem;
    text-align: center;

    background-color: rgb(46, 46, 94);
    color: #fff;
    border: none;
}